<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <h1>
        Courses list
        <a href="{{ url_for('index') }}" style="float: right;">Go to Students</a>
    </h1>
    {% if courses %}
    <table id="all-courses">
        <thead>
            <tr>
            <th>SNo</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('course_detail', course_id=course.course_id) }}">{{ course.course_code }}</a></td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.course_description }}</td>
            <td>
                <a href="{{ url_for('update_course', course_id=course.course_id) }}">Update</a>
                <a href="{{ url_for('delete_course', course_id=course.course_id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No courses found. Add a course to get started.</p>
    {% endif %}
    <a href="{{ url_for('create_course') }}">+ Add Course</a>
</body>
</html>